<% flash.each do |type, message| %>
  <% next if message.blank? %>
  <div class="mb-3 rounded-md border px-4 py-2 text-sm <%= case type.to_s; when "notice", "success" then "border-green-200 bg-green-50 text-green-800"; when "alert", "error" then "border-red-200 bg-red-50 text-red-800"; else "border-blue-200 bg-blue-50 text-blue-800" end %>">
    <%= message %>
  </div>
<% end %>
